.signup {
  text-align: center;
}
.card {
  margin-left: auto;
  margin-right: auto;
  top: 0;
  margin: auto;
  max-height: 600px;
  max-width: 400px;
  background-color: #f9f9f9;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px #ee7e63;
}
input {
  width: 300px;
  height: 25px;
  border: 1px solid #ee7e63;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #ee7e63;
  color: #f9f9f9;
  height: 30px;
  cursor: pointer;
}
